.jumbotron {
  padding: 20px 20px 20px 35px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: auto;
}

#passage-search {
  height: 50px;
  width: 99%;
}

#passage-template {
  display: none;
}

#passages {
}

.passage {
  margin: 10px;
}

.passage-text {
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.passage-text:hover {
  color: green;
  cursor: pointer;
}

.old-passage {
  color: #bbb;
  font-weight: normal;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
