.jumbotron {
  padding: 20px 20px 20px 35px;
}

.alert {
  display: none;
}

.copied-reference, .query-attempt {
  font-weight: bold;
}

#passage-search {
  height: 50px;
  width: 99%;
}

#passage-template {
  display: none;
}

.passage {
  margin: 10px;
}

.passage-text {
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.passage-text:hover {
  color: green;
  cursor: pointer;
}

.old-passage {
  color: #bbb;
  font-weight: normal;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
